<template>
    <div class="alert__box">
        <h3>{{title}}</h3>
        <p>{{content}}</p>
    </div>
</template>

<script>
export default {
    name: 'alerta',
    props: ['title','content'],
    data() {
        return {

        }
    }
}
</script>

<style scoped>
    .alert__box {
        position: absolute;
        top: 10px;
        left: 50%;
        border-radius: 5px;
        padding: 20px
    }
    h3::after {
        content: "";
        display: block;
        border-bottom: 1px solid lightgray;
    }
</style>
