<template>
    <div class="item__view">

        <ul class="item__view--categorias">
            <li @click="atualizarCategoria('bestiario')">
                <p :class="{'categoria--criavel' : categoriaAtiva == 'bestiario'}">Bestiário</p></li>
                <!-- <p :class="{'categoria-criavel' : categoriaAtiva.name == 'bestiario'}">Bestiário</p></li> -->
            <li @click="atualizarCategoria('personagens')">
                <p :class="{'categoria--criavel' : categoriaAtiva === 'personagens'}">Personagens</p></li>
            
        </ul><!-- barra de catogiras -->

        <div class="item__view--filter__bar">
            <input type="text" class="search__bar" placeholder="buscar" v-model="search">
            
            <div class="button-group">
                <button type="button" 
                    :class="{'view__mode--active' : listMode }"
                    @click="changeViewMode(true)">
                    <i class="fas fa-list-ul"></i>
                </button><!-- btn lists -->

                <button type="button" 
                    
                    :class="{'view__mode--active' : !listMode }"
                    @click="changeViewMode(false)">
                    <i class="fas fa-th"></i>
                </button> <!-- btn grid -->
            </div>

            <button type="button" @click="viewFilters = !viewFilters"
                    :class="{'view__mode--active' : viewFilters}">
                <i class="fas fa-filter"></i>
            </button>
            
        </div><!-- barra de filtros -->
        
        <div :class="listMode ? 'item__view--itens__list' : 'item__view--itens__grid'"
            v-if="!viewFilters">
            <div class="item"
                v-for="item in searchFunc" :key="item.name"
                :class="{ 'item--selecionado' : item.id === activeItem.id }"
                @click.stop="setarItem(item)"
                :id="item.id"
                >
                <div>
                    <!-- imagem item -->
                    <img :src="item.img" alt="">
                </div>
                <div>
                    <i class="fas fa-star" v-show="item.favoritado"></i>
                    <p class="item--name" v-show="listMode">{{ item.name }}</p>
                    <span v-show="listMode">Class: {{ item.classe }}</span>
                </div>
            </div> <!-- ITEM -->
        </div><!-- lista/grid de iten -->
        
        <div id="filter" v-if="viewFilters">
            <label for="favorite">Apenas favoritos</label>
            <input type="checkbox" name="favorite" id="favorite" v-model="filter.favoritado">
            <br><br>
            <label>Categorias</label>
            <div v-for="categoria in categoriaAtiva.types" :key="categoria">
                <input type="checkbox" :id="categoria + '-input'"
                :name="categoria + '-name'" :value="categoria" v-model="filter.tipos">
                <label :for="categoria + '-input'">{{categoria}}</label>
            </div>
            <br>
            <label for="creatable">Criaveis</label>
            <input type="checkbox" name="creatable" id="creatable" v-model="filter.criaveis">
            <br><br>
            <label for="equipable">Equipaveis</label>
            <input type="checkbox" name="equipable" id="equipable" v-model="filter.equipaveis">
            
            <button @click="aplicarFiltros()">aplicar filtro</button>
        </div>
    </div>    
</template>

<script>
    //import dataBase from '../assets/data'
    import dataBase from '../assets/glossario'
    import {_} from 'vue-underscore'
    // import itemCardVue from './item-card.vue';
    
    export default {
        props: ['activeItem','base'],
        componets: {
            dataBase
        },
        data () {
            return {
                bestiario: dataBase.data().bestiario,
                personagens: dataBase.data().personagens,
                // itens: this.base,
                teste: dataBase.data(),
                level: 16,
                listMode: true,
                categorias: [
                    {   name: 'bestiario',
                        },
                    {   name: 'personagens',
                        }
                ],
                categoriaAtiva: 'bestiario',
                itensAtivos:[],
                itemAtivo:'',
                search: '',
                viewFilters: false,
                filter:{
                    active: true,
                    favoritado:false,
                    tipos:[],
                    criaveis:false, //createStatus = true
                    equipaveis:false //qntd > 1 && lv
                }
            }
        },
        methods: {
            changeViewMode (value) { this.listMode = value },
            atualizarCategoria (categoria) {
                this.categoriaAtiva = categoria

                if ( this.categoriaAtiva == 'bestiario') {
                    this.itensAtivos = this.bestiario
                } else {
                    this.itensAtivos = this.personagens
                }
            },
            setarItem (obj) { 
                this.$emit('itemTrocado', obj, this.categoriaAtiva) 
                this.changeActiveItem(obj)
                //const element = event.target
            },
            changeActiveItem (item) {
                // if (this.itemAtivo) {
                //     let antigo = document.getElementById(this.itemAtivo)
                //     console.log(antigo)
                //     antigo.classList.remove('item--selecionado')
                // }
                // console.log(item.id)
                // let ativo = document.getElementById(item.id)
                // console.log(ativo)
                //ativo.classList.add('item--selecionado')
                
                this.itemAtivo = item.id
            },
        },
        computed: {
            searchFunc: function() {
                let search = this.search
                let result = _.filter(this.itensAtivos, item => new RegExp(search,'i').test(item.name))
                return result
            }
        },
        mounted: function() {
            this.$nextTick(function() {

                this.atualizarCategoria('bestiario')
            })
        }
    }
</script>

<style scoped>
    
    #filter {
        padding: 40px;
    }
    .item i{
        font-size: 11px;
        color: goldenrod;
        float: right;
    }

    .item__view { 
        display: grid;
        grid-template-rows: 50px 50px auto;
        border: 2px lightgrey solid;
        border-radius: 2px;
        height: 540px;
        overflow: hidden;
    }

    .item__view--categorias {
        display: grid;
        grid-template-columns: repeat(5, auto);
        list-style: none;
        
        margin: 0;
        padding: 0;
        background: #333;
    }
    .item__view--categorias li {
        text-align: center;
        /* align-self: center; */
        height: 100%;
        vertical-align: center;
        line-height: 50px;
    }
    .item__view--categorias li p{
        color: white;
        opacity: 0.4;
        font-size: 18px;
        margin: 0;
    }
    .item__view--categorias li p.categoria--criavel{
        opacity: 1;
    }

    .item__view--filter__bar {
        display: grid;
        grid-template-columns: 50% auto 40px;
        grid-template-rows: 80% 20%;

        
        padding: 10px;
        background: #999;
    }
    .item__view--filter__bar .search__bar {
        border-radius: 20px;
        border: 1px solid #fff;
        padding-left: 20px; 
        background: rgba(200, 200, 200, 0.5)
    }
    .item__view--filter__bar button {
        background: none;
        border: none;
        color: #333;
        font-size: 18px;
    }
    .item__view--filter__bar > button {
        justify-self: end;
    }
    .item__view--filter__bar .button-group{
        align-self: center;
        margin: auto;
    }
    .view__mode--active i{
        color: white
    }
    .item--selecionado {
        border-color: #FF9800!important;
    }

    .item__view--itens__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-gap: 30px;
        overflow: auto;
        padding: 20px 10px;
    }
    .item__view--itens__grid .item {
        width: 100%;
        height: 130px;
        text-align: center;
        cursor: pointer;
    }
    .item__view--itens__grid .item img{
        width: 70%;
    }

    .item__view--itens__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 90px;
        grid-gap: 15px;
        overflow: auto;
        padding: 20px 10px;
    }

    .item__view--itens__list .item {
        display: grid;
        grid-template-columns:65px auto;
        grid-gap: 20px;
        cursor: pointer;
        border: 1px solid #fff;
        padding: 5px;
    }
    .item__view--itens__list .item img{
        width: 100%;
        height: auto;
    }
    .item__view--itens__list .item .item--name{
        text-transform: uppercase;
        font-size: 18px;
        margin: 9px auto 18px;
        color: #333;
        font-weight: bold;
    }

</style>
