<template>
    <div>
        <router-link class="btn--ini" to="itens">Itens</router-link>
        <router-link class="btn--ini" to="glossario">Glossário</router-link>
    </div>
</template>

<script>
export default {
  data() {
      return {

      }
  }
}
</script>

<style>
    .btn--ini {
        display: block;
        margin: 70px;
        padding: 30px;
        background: goldenrod;
    }
</style>


