<template>
    <div class="item__card">
        <div class="item__card--top__bar" :class="'tier__bg--' + item.tier">
            <button type="button" @click.stop="backClick(item)">
                <i class="fas fa-arrow-left"></i>
            </button> <!-- btn voltar -->
            <div class="top__bar--title">
                <h1>{{item.name}}</h1>
                <h3>{{item.type === 'witcher' ? 'witcher item' : item.type }}</h3>
                <!-- REVER COMO MOSTRAR TIPO DE EQUIP -->
            </div>
            <button type="button" 
                    @click.stop="starClick(item,item.name + ' favoritado!')">
                <i class="fa-star" 
                :class="item.favoritado ? 'fas' : 'far' ">
                </i>
            </button>
        </div>

        <div class="item__card--view__select" @click="changeView()">
            <div class="view__select--button" :class="infoActive ? 'active' : ''">
                informações
            </div>
            <div class="view__select--button" :class="infoActive ? '' : 'active'">
                criação
            </div>
        </div>

        <div class="item__card--content">
            <transition-group name="slide-fade" mode="out-in">
                <div class="content--info" v-show="infoActive" key="info">
                    <ul>
                        <li v-for="effect in item.effects" :key="effect">
                            <span>{{effect}}</span>
                        </li>
                    </ul>
                </div>

                <div class="content--create" v-show="!infoActive" key="creat">
                    <ul>
                        <li v-for="ingredient in item.create.ingredStatus"          
                            :key="ingredient.id" @click.stop="setarItem(ingredient)">
                            <span>{{ingredient.name}}</span>
                            {{ingredient.qntd}}/{{ingredient.neaded}}
                        </li>
                    </ul>
                </div>
            </transition-group>
        </div>
        <div class="item__card--action__bar">
            <button type="button" @click.stop="compareClick()">comparar</button>
            
            <!-- Para controlar se o btn está ativo adicione:
                :class="{ 'btn- -desactive' : buttonStatus }" 
                e controle a variavel pelo pai (app.vue) -->
            <button type="button" 
                v-if="infoActive"
                @click="starClick(null,item.name + ' equipado')">
                equipar
            </button>
            <button type="button" 
                v-if="!infoActive"
                @click="starClick(null,item.name + ' criado')">
                Criar
            </button>
        </div>
        <div class="item__card--info__bar">
            <div>
                <span>{{item.wight}}</span><icon-coin></icon-coin>
                <span>{{item.price}}</span><icon-weight></icon-weight>
            </div>
            <p :class="'tier__color--' + item.tier">{{item.tier}}</p>
        </div>

    </div>    
</template> 

<script>
    import dataBase from '../assets/data'
    import iconCoin from './icons/icon-coin'
    import iconWeight from './icons/icon-weigh'

    export default {
        props:['item','buttonStatus'],
        components: { dataBase,iconCoin,iconWeight },
        data() {
            return {
                //item: dataBase.data().itens[0]
                infoActive: true,
            }
        },
        methods: {
            changeView: function() { this.infoActive = !this.infoActive },
            backClick: function(obj) {
                this.$emit('voltarItem', obj) 
            },
            starClick: function(obj,menssagem) {
                this.$emit('favoritar', obj, menssagem)
            },
            compareClick() {
                this.$emit('compareClick')
            },
            setarItem: function(obj) { 
                this.$emit('itemTrocado', obj) 
                console.log('li clicado')
            }
        }
    }
</script>

<style>
    .item__card {
        display: grid;
        grid-template-rows: auto auto 344px 36px auto;
        border: lightgray 2px solid;
        border-radius: 2px;
    }

    /* top bar ____________________________________*/
    .item__card--top__bar {
        display: grid;
        grid-template-columns: 60px auto 60px;
        justify-content: space-between;	
        padding: 12px 0 9px;
    }
    .item__card--top__bar button {
        background: none;
        border: none;
        font-size: 18px;
        color: #fff;
    }
    .top__bar--title {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: space-between;
    }
    .top__bar--title h1,
    .top__bar--title h3 {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        margin: 4px;
    }
    .top__bar--title h1 {
        font-size: 18px;
        line-height: 18px;

    }
    .top__bar--title h3 {
        font-size: 14px;
        line-height: 14px;
    }

    /* view select ____________________________________*/
    .item__card--view__select {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        margin: 9px 18px;
        border: 1px solid goldenrod;
        border-radius: 20px;
        overflow: hidden;
    }

    .item__card--view__select .view__select--button {
        padding: 12px 0;
        background: none;
        border: none;
        
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        font-family: sans-serif;
        color: rgb(139, 102, 6);
    }
    .item__card--view__select .view__select--button.active {
        background: goldenrod;
        color: #fff;
        font-weight: 400
    }

    /* conteudo ____________________________________*/
    .item__card--content {
        padding: 20px;
    }
    /* - - transition _______________ */
    .slide-fade-leave-active {
        transition: all .2s ease;
        position: absolute;
    }
    .slide-fade-enter-active {
       transition: all .5s ease;
        position: absolute;
    }
    
    .content--info.slide-fade-enter {
        transform: translateX(-10px);
        opacity: 0;
    }
    .content--info.slide-fade-leave-to {
        transform: translateX(-10px);
        opacity: 0;
    }
    
    .content--create.slide-fade-enter {
        transform: translateX(10px);
        opacity: 0;
    }
    .content--create.slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }

    /* action bar ____________________________________*/
    .item__card--action__bar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: stretch;
        grid-gap: 18px;

        padding: 0 18px;
    }
    .item__card--action__bar button{
        background: dimgrey;
        color: #fff;
        text-transform: uppercase;
        border-radius: 20px;
        border: none;
    }
    .item__card--action__bar button.btn--desactive{
        background: #a8a8a8;
    }

    .item__card--info__bar {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;

        margin-top: 18px;
        padding: 9px 18px;
        background: #292929;
    }
    .item__card--info__bar span {
        color: #c9c9c9;
    }
    .item__card--info__bar svg {
        margin: 0 12px 0 4px;
    }
    .item__card--info__bar p {
        margin: 0;
    }
</style>
