<template>
    <!-- <div id="app"> -->
    <div>

        <div class="topBar"></div>
        <div class="container">
            <div class="content container-left">
                <itens-view 
                    :base="base"
                    v-on:itemTrocado="setItem"
                    :activeItem="activeItem">
                </itens-view>
                <!-- <teste-base></teste-base> -->
            </div>

            <div class="content container-center">
                <item-card
                    :item="activeItem"
                    :button-status="battleIsActive"
                    v-on:voltarItem="goBackItens"
                    v-on:favoritar="favoritarItem"
                    v-on:compareClick="viewCompare = true"
                    v-on:itemTrocado="setItem">
                </item-card>
            </div>

            <div class="content container-rigth"></div>
        </div>
        <div class="bottomBar"></div>

        <!-- ALERTAR -->
        <div class="alert__box--wrapper">
            <transition name="slide-alert">
                <div class="alert__box" v-show="alert.show">
                    <h4>{{alert.message}}</h4>
                    <a href="#" @click='alert.show = false'>
                        <p>fechar</p>
                    </a>
                </div>
            </transition>
        </div>
        <transition name="slide-alert">
            <div id="placeholder-compare" v-show="viewCompare" @click="viewCompare = false">
                <!-- <img src="./assets/images/compare-placeholder.png" alt=""> -->
            </div>
        </transition>
    </div>
</template>

<script>
import itensView from '@/components/itens-view'
import itemCard from '@/components/item-card'
import dataBase from '@/assets/data'

import {_} from 'vue-underscore'

export default {
    name: 'App',
    data() {
        return {
            base: dataBase.data().itens,
            activeItem: {},
            battleIsActive: true,
            ultimoId: null,
            itemHistory: [],
            alert:{
                show: false,
                message: 'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
            },
            viewCompare: false
        }
    },
    components: {
        itensView,
        itemCard,
        dataBase
    },
    methods: {
        resetItem: function() {
            let desativar = this.$_.find(this.base, dado => dado.active === true )
            if (desativar) desativar.active = false
            this.activeItem = {}
        },//testeBase \/
        setItem: function(obj, back = false) {
            
            if (!back) this.itemHistory.push(this.activeItem)//criar var
            
            //reset
            this.resetItem()
            
            let clicado = _.findWhere(this.base,{ id : obj.id})
            clicado.active = true
            clicado.create = obj.create
            console.log(clicado)

            this.activeItem = clicado
            //this.ultimoId = obj.id
            console.log(this.activeItem)
        },
        goBackItens: function() {
            this.setItem(this.itemHistory.pop(),true)
        },
        favoritarItem: function(obj,mensagem) {
            //alert(obj.name + ' favoritado')
            if (!!obj) {
                let item = _.findWhere(this.base,{id: obj.id})
                item.favoritado = true
            }

            // this.alert.show = true
            // this.alert.message =  item.name + ' favoritado!'

            this.alert = {
                show: true,
                message:  mensagem
            }
            setTimeout(() => {
                this.alert.show = false
            }, 2000);
        }
    },
    mounted() {
        this.activeItem = this.base[0]
        let create = {
            createStatus: true,
            ingredStatus:[
                {   name:"Silver ore",
                    id:"silver-ore",
                    qntd:2,"neaded":2
                },{ name:"Ruby dust",
                    id:"ruby-dust",
                    qntd:2,neaded:1
                },{ name:"Monster part",
                    id:"monster-part",
                    qntd:2,neaded:1
                }
            ]
        }   
        this.activeItem.create = create
    }

}
</script>

<style>
    #placeholder-compare {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        position: absolute;
    }
    #placeholder-compare img{
        position: absolute;
        top:50px;
        left: 50%;
        transform: translateX(-66%)
    }
    .alert__box--wrapper {
        position: absolute;
        top: 30px;
        left: 50%;
        width: 360px;
        transform: translateX(-180px);
    }
    .alert__box {
        width: 100%;
        height: auto;
        border-radius: 5px;
        background: #fff;
        padding-top: 1px;

        -webkit-box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 18px -2px rgba(0,0,0,0.75);
    }
    .alert__box h4 {
        padding: 12px 10px 8px;
        font-family: sans-serif;
    }
    .alert__box a {
        display: block;
    }
    .alert__box a::before {
        content: "";
        display: block;
        border-top: 1px solid lightgray;
    }
    .alert__box a p {
        text-align: right;
        margin: 0;
        padding: 8px 12px;
    }

    /* - - transition _______________ */
     .slide-alert-leave-active,
     .slide-alert-enter-active {
        transition: all .2s ease;
        position: absolute;
        /* transform: translateX(-180px); */
    }
    .slide-alert-enter,
    .slide-alert-leave-to {
        /* transform: translateX(-180px); */
        transform: translateY(-10px);
        opacity: 0;
    }

#app {
    display: grid;
    grid-template-rows: 50px auto 50px ;
    
    width: 1024px;
    height: 668px;

    margin: auto;
    background: white;
    border: solid 1px gray;
    border-radius: 2px;
    overflow: hidden;
}
.container {
    display: grid;
    grid-template-columns: 512px 462px 50px;
    /* grid-gap: 20px; */
}


.topBar { background: red; }
/* .container-center { background: green; } */
.container-rigth { background: goldenrod; }
.bottomBar { background: gray; }

.content { 
    padding: 15px;
}

.tier__color--common {
    color: #9e9e9e;
}
.tier__color--magic {
    color: #dbd360;
}
.tier__color--master {
    color: #3778cc;
}
.tier__color--relic {
    color: #ec8918;
}
.tier__color--witcher {
    color: #53914b;
}
.tier__bg--common {
    background: #9e9e9e;
}
.tier__bg--magic {
    background: #dbd360;
}
.tier__bg--master {
    background: #3778cc;
}
.tier__bg--relic {
    background: #ec8918;
}
.tier__bg--witcher {
    background: #53914b;
}
</style>
