<template>
    <div class="item__view">

        <ul class="item__view--categorias">
            <li @click="atualizarCategoria('equipamentos')">
                <i class="fab fa-d-and-d" 
                :class="{'categoria--criavel' : categoriaAtiva.name == 'equipamentos'}"></i></li>
            <li @click="atualizarCategoria('secundarios')">
                <i class="fas fa-cube" :class="{'categoria--criavel' : categoriaAtiva.name === 'secundarios'}"></i></li>
            <li @click="atualizarCategoria('criacao')">
                <i class="fas fa-dna" :class="{'categoria--criavel' : categoriaAtiva.name === 'criacao'}"></i></li>
            <li @click="atualizarCategoria('quest')">
                <i class="fab fa-dribbble" :class="{'categoria--criavel' : categoriaAtiva.name === 'quest'}"></i></li>
            <li @click="atualizarCategoria('comidas')">
                <i class="fab fa-empire" :class="{'categoria--criavel' : categoriaAtiva.name === 'comidas'}"></i></li>
        </ul><!-- barra de catogiras -->

        <div class="item__view--filter__bar">
            <input type="text" class="search__bar" placeholder="buscar" v-model="search">
            
            <div class="button-group">
                <button type="button" 
                    :class="{'view__mode--active' : listMode }"
                    @click="changeViewMode(true)">
                    <i class="fas fa-list-ul"></i>
                </button><!-- btn lists -->

                <button type="button" 
                    
                    :class="{'view__mode--active' : !listMode }"
                    @click="changeViewMode(false)">
                    <i class="fas fa-th"></i>
                </button> <!-- btn grid -->
            </div>

            <button type="button" @click="viewFilters = !viewFilters"
                    :class="{'view__mode--active' : viewFilters}">
                <i class="fas fa-filter"></i>
            </button>
            
        </div><!-- barra de filtros -->
        
        <div :class="listMode ? 'item__view--itens__list' : 'item__view--itens__grid'"
            v-if="!viewFilters">
            <div class="item"
                v-for="item in searchFunc" :key="item.name"
                :class="[
                    listMode ? '' : ('tier__bg--' + item.tier), 
                    { 'qntd--positiva' : item.qntd > 0},
                    { 'item--selecionado' : item.id === activeItem.id }
                ]"
                @click.stop="setarItem(item)"
                :id="item.id"
                >
                <div>
                    <!-- imagem item -->
                    <img :src="item.img" alt="" 
                    :class="listMode ? ('tier__bg--' + item.tier) : '' ">
                </div>
                <div>
                    <i class="fas fa-star" v-show="item.favoritado"></i>
                    <p class="item--name" v-show="listMode">{{ item.name }}</p>
                    <span v-show="listMode">Type: {{ item.type }}</span>
                    <span v-show="listMode">&nbsp;&nbsp;Damage: {{item.damage}}</span>
                </div>
            </div> <!-- ITEM -->
        </div><!-- lista/grid de iten -->
        
        <div id="filter" v-if="viewFilters">
            <label for="favorite">Apenas favoritos</label>
            <input type="checkbox" name="favorite" id="favorite" v-model="filter.favoritado">
            <br><br>
            <label>Categorias</label>
            <div v-for="categoria in categoriaAtiva.types" :key="categoria">
                <input type="checkbox" :id="categoria + '-input'"
                :name="categoria + '-name'" :value="categoria" v-model="filter.tipos">
                <label :for="categoria + '-input'">{{categoria}}</label>
            </div>
            <br>
            <label for="creatable">Criaveis</label>
            <input type="checkbox" name="creatable" id="creatable" v-model="filter.criaveis">
            <br><br>
            <label for="equipable">Equipaveis</label>
            <input type="checkbox" name="equipable" id="equipable" v-model="filter.equipaveis">
            
            <button @click="aplicarFiltros()">aplicar filtro</button>
        </div>
    </div>    
</template>

<script>
    import dataBase from '../assets/data'
    import {_} from 'vue-underscore'
    import itemCardVue from './item-card.vue';
    
    export default {
        props: ['activeItem','base'],
        componets: {
            dataBase
        },
        data () {
            return {
                //itens: dataBase.data().itens,
                itens: this.base,
                level: 16,
                listMode: true,
                categorias: [
                    {   name: 'equipamentos',
                        types: ['sword','armor','crossbow','bolt']    },
                    {   name: 'secundarios',
                        types: ['bomb','oil','potion']  }, 
                    {   name: 'comidas',
                        types: ['food']  }, 
                    {   name: 'quest',
                        types: ['quest']  }, 
                    {   name: 'criacao',
                        types: ['crafting','ingredient']  }, 
                ],
                categoriaAtiva:{},
                itensAtivos:[],
                itemAtivo:'',
                search: '',
                viewFilters: false,
                filter:{
                    active: true,
                    favoritado:false,
                    tipos:[],
                    criaveis:false, //createStatus = true
                    equipaveis:false //qntd > 1 && lv
                }
            }
        },
        methods: {
            changeViewMode: function (value) { this.listMode = value },
            changeActiveItem: function (item) {
                if (this.itemAtivo) {
                    let antigo = document.getElementById(this.itemAtivo)
                    antigo.classList.remove('item--selecionado')
                }
                let ativo = document.getElementById(item.id)
                ativo.classList.add('item--selecionado')
                this.itemAtivo = item.id
            },
            setarItem: function(obj) { 
                this.$emit('itemTrocado', obj) 
                this.changeActiveItem(obj)
                //const element = event.target
            },
            retornarItensAtivos: function (obj) {
                return _.filter( obj.base, dado => dado === obj.validacao )
            },
            atualizarCategoria: function(nomeDaCategoria) {
                this.itensAtivos = []
                this.search = ''

                //encontra objeto categoria ativo
                let categoria = _.findWhere( this.categorias, {name: nomeDaCategoria} )

                //aloca objeto em categoriaAtiva
                this.categoriaAtiva = categoria
                
                //configuração de busca - inativo
                let config = {
                    // base: this.itens,
                    // validacao: elemento.type
                }
                
                //monta arrey com itens ativos
                categoria.types.forEach(element => {
                    let toPush =  _.filter( 
                        this.itens, dado => dado.type == element )
                    
                    toPush.forEach(item => {
                        this.itensAtivos.push(item) 
                    });
                });
            },
            //checkItemActive: (item) => item.id === this.activeItem.id
            aplicarFiltros: function () {
                // filter:{
                //     favoritado:false,
                //     tipos:[],
                //     criaveis:false, //createStatus = true
                //     equipaveis:false //qntd > 1 && lv
                // }
                let filtros = this.filter,
                    itensFiltrados = this.itensAtivos

                if (filtros.favoritado) {
                    itensFiltrados = _.where(this.itens, {favoritado: true})
                } 
                //else itensFiltrados = this.itens

                if (filtros.criaveis) {
                    itensFiltrados = _.filter(itensFiltrados, function(v){ 
                        return _.isObject(v.create) && v.create.createStatus == true; 
                    });
                }

                if (filtros.equipaveis) {
                    itensFiltrados = _.filter(itensFiltrados, v => v.qntd > 0 && v.lvlrequired <= this.level)
                    
                }


                this.itensAtivos = itensFiltrados
                this.viewFilters = false
            }
            
        },
        computed: {
            setItemClass :function (name) {
                //console.log(name)
                //console.log(this.$parent.activeItem.name)
                //if (!this.$parent.activeItem.name){
                //if (name === this.$parent.activeItem.name) { 
                //    return 'item--clicado'
                //}
                //}
            },
            searchFunc: function() {
                let search = this.search
                let result = _.filter(this.itensAtivos, item => new RegExp(search,'i').test(item.name))
                //let result = this.getItem(search,name,itensAtivos)
                //console.log(result)
                return result
            }
        },
        mounted: function() {
            this.$nextTick(function() {

                //computa estado ingredientes
                this.itens.forEach((element,index) => {
                    
                    let ingredientes = element.ingredients, 
                        create = {
                            createStatus: true,
                            ingredStatus: []
                        }

                    if (ingredientes.length != 0) {
                        ingredientes.forEach(elemento => {
                        //criar metodo para atualiza
                            let objeto = _.findWhere(this.itens, { id: elemento.id }),
                                toPush = {
                                    name: objeto.name,
                                    id: objeto.id,
                                    qntd: objeto.qntd,
                                    neaded: elemento.amount,
                                }

                            if (toPush.neaded > toPush.qntd) create.createStatus = false
                            create.ingredStatus.push(toPush)
                        //fim do metodo
                        })
                    }
                    element.create = create
                })

                this.atualizarCategoria('equipamentos')
            })
        }
    }
</script>

<style scoped>
    
    #filter {
        padding: 40px;
    }
    .item i{
        font-size: 11px;
        color: goldenrod;
        float: right;
    }

    .item__view { 
        display: grid;
        grid-template-rows: 50px 50px auto;
        border: 2px lightgrey solid;
        border-radius: 2px;
        height: 540px;
        overflow: hidden;
    }

    .item__view--categorias {
        display: grid;
        grid-template-columns: repeat(5, auto);
        list-style: none;
        
        margin: 0;
        padding: 0;
        background: #333;
    }
    .item__view--categorias li {
        text-align: center;
        /* align-self: center; */
        height: 100%;
        vertical-align: center;
        line-height: 50px;
    }
    .item__view--categorias li i{
        color: white;
        opacity: 0.4;
        font-size: 18px;
    }
    .item__view--categorias li i.categoria--criavel{
        opacity: 1;
    }

    .item__view--filter__bar {
        display: grid;
        grid-template-columns: 50% auto 40px;
        grid-template-rows: 80% 20%;

        
        padding: 10px;
        background: #999;
    }
    .item__view--filter__bar .search__bar {
        border-radius: 20px;
        border: 1px solid #fff;
        padding-left: 20px; 
        background: rgba(200, 200, 200, 0.5)
    }
    .item__view--filter__bar button {
        background: none;
        border: none;
        color: #333;
        font-size: 18px;
    }
    .item__view--filter__bar > button {
        justify-self: end;
    }
    .item__view--filter__bar .button-group{
        align-self: center;
        margin: auto;
    }
    .view__mode--active i{
        color: white
    }

    .item:not(.qntd--positiva) img,
    .item:not(.qntd--positiva) div{
        opacity: 0.6;
    }
    .item--selecionado {
        border-color: #FF9800!important;
    }
    .item.qntd--positiva {
        opacity: 1;
    }

    .item__view--itens__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        grid-gap: 30px;
        overflow: auto;
        padding: 20px 10px;
    }
    .item__view--itens__grid .item {
        width: 100%;
        height: 130px;
        text-align: center;
        cursor: pointer;
    }
    .item__view--itens__grid .item img{
        width: 70%;
    }

    .item__view--itens__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 90px;
        grid-gap: 15px;
        overflow: auto;
        padding: 20px 10px;
    }

    .item__view--itens__list .item {
        display: grid;
        grid-template-columns:40px auto;
        grid-gap: 20px;
        cursor: pointer;
        border: 1px solid #fff;
        padding: 5px;
    }
    .item__view--itens__list .item img{
        width: 100%;
        height: auto;
    }
    .item__view--itens__list .item .item--name{
        text-transform: uppercase;
        font-size: 18px;
        margin: 9px auto 18px;
        color: #333;
        font-weight: bold;
    }

</style>
