<template>
    <div>
        <div class="search-wrapper">
            <input type="text" v-model="search" placeholder="Search title.."/>
        </div>
        <div class="wrapper">
            <div class="card" v-for="post in filteredList" :key="post.name">
            <a v-bind:href="post.link" target="_blank">
                <img v-bind:src="post.img"/>
                <small>posted by: {{ post.author }}</small>
                {{ post.title }}
            </a>
            </div>
        </div>
    </div>
</template>

<script>
    import dataBase from '../assets/data'
    component:
    export default {
        
        data() {
            return {
                 itens: dataBase.data().itens,
                search: '',
                postList : []
            }
        },
        computed: {
            filteredList() {
            return this.postList.filter(post => {
                return post.title.toLowerCase().includes(this.search.toLowerCase())
            })
            }
        }
    }
</script>

<script>
export default {
  
}
</script>
