<template>
    <div>
        <input type="text" v-model="search"> 
        <h3>categorias</h3>
        <ul>
            <li v-for="categoria in categorias" 
                :key="categoria"
                @click="setCategoria(categoria)"
                :class="{ ativo : activeType == categoria }">
                    {{categoria}}
                </li>
        </ul>
        <h3>Item</h3> <!-- GRID | LISTA -->
        <ul>
            <li v-for="item in searchFunc" :key="item.id"
                :class="{ativo : item.active}"
                @click="setItem(item.id)">
                <p :class="item.create.createStatus ? 'creable' : 'uncreable'"> 
                    NOME: {{item.name}} | Quantidade: {{item.qntd}}
                </p>
            </li>
        </ul>
        <h3>Item Selecionado</h3>
        <div id="card" v-if="activeItem.name">
            <!-- class: => estado { 
                tenho => qntd > 0
                criavel => qtnd = 0 && tenho ingrediente
                nCriavel => qtnd = 0 && n tenho ingrediente
                -->
            <button @click="goBackItens()">voltar</button>
            <p>Nome: {{activeItem.name}}</p>
            <p>Tipo: {{activeItem.type}}</p>
            <p>Qntd: {{activeItem.qntd}}</p>
            <ul v-if="activeItem.ingreds">
                
                <!-- <li v-for="ingred in activeItem.ingreds" :key="ingred.id">
                    {{ingred.id}}  |  {{computeAmoutQntd(ingred.id)}}/{{ingred.amount}} <button @click="setItem(ingred.id)">ver</button>
                    
                </li> -->
                <li v-for="ingred in computeAmoutQntd()" :key="ingred.id">
                    <span>{{ingred.name}}</span>
                    <span :class="ingred.qntd >= ingred.neaded ? 'creable' : 'uncreable'"
                    >{{ingred.qntd}} / {{ingred.neaded}}</span>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import {_} from 'vue-underscore'

export default {
    data() {
        return {
            base: [
                { //id: 'ferro_bruto',
                    id: 'ferro_bruto',
                    active: false,
                    name: 'Ferro bruto',
                    type: 'primo',
                    qntd: 2,
                    ingreds: []
                },
                { //id: 'ouro_bruto',
                    id: 'ouro_bruto',
                    active: false,
                    name: 'ouro bruto',
                    type: 'primo',
                    qntd: 2,
                    ingreds: []
                },
                {//id: 'barra_de_ferro',
                    id: 'barra_de_ferro',
                    active: false,
                    name: 'barra de ferro',
                    type: 'componente',
                    qntd: 1,
                    ingreds: [
                        { id:'ferro_bruto', amount:2 } ],
                    /*create: {
                        creatStatus: true/false,
                        ingredStatus: [
                            {name, id, img, qntd, neaded}
                        ]
                    }
                    */
                },
                {//id: 'barra_de_ouro',
                    id: 'barra_de_ouro',
                    active: false,
                    name: 'barra de ouro',
                    type: 'componente',
                    qntd: 3,
                    ingreds: [
                        {
                            id:'ouro_bruto',
                            amount:2
                        }
                    ]
                },
                { //id: 'tira_de_couro',
                    id: 'tiras_de_couro',
                    active: false,
                    name: 'Tiras de couro',
                    type: 'componente',
                    qntd: 1,
                    ingreds: []
                },
                { //id: 'espada_de_ouro',
                    id: 'espada_de_ouro',
                    active: false,
                    name: 'espada de ouro',
                    type: 'espada',
                    qntd: 3,
                    ingreds: [
                        {
                            id:'barra_de_ouro',
                            amount: 2
                        },
                        {
                            id:'tiras_de_couro',
                            amount: 1
                        }
                    ]
                },
                { //id: 'espada_de_ferro',
                    id: 'espada_de_ferro',
                    active: false,
                    name: 'espada de ferro',
                    type: 'espada',
                    qntd: 3,
                    ingreds: [
                        {
                            id:'barra_de_ferro',
                            amount: 2
                        },
                        {
                            id:'tiras_de_couro',
                            amount: 1
                        }
                    ]
                },
                { //id: 'escudo_de_ferro',
                    id: 'escudo_de_ferro',
                    active: false,
                    name: 'Escudo de Ferro',
                    type: 'armadura',
                    qntd: 2,
                    ingreds: [
                        {
                            id:'barra_de_ferro',
                            amount: 4
                        }
                    ]
                },
                { //id: 'escudo_de_ferro',
                    id: 'escudo_de_ouro',
                    active: false,
                    name: 'Escudo de ouro',
                    type: 'armadura',
                    qntd: 2,
                    ingreds: [
                        {
                            id:'barra_de_ouro',
                            amount: 4
                        }
                    ]
                }
            ], // fim da base
            categorias: ['espada', 'armadura', 'componente', 'primo'],
            activeType: 'espada', 
            itensAtivos: [],
            search: '',
            activeItem: {},
            ultimoId: null,
            itemHistory: []
        }
    },
    computed: {
        getItem: function(ref, propretie) {
        //getItem: function(ref,propretie) {
            // return _.filter(
            //     this.base,
            //     function(item) {
            //         return new RegExp(ref,'i').test(item.propretie)
            //     })
        },
        getItensAtivos: function () {
            let activeType = this.activeType
            // this.itensAtivos = this.$_.filter(this.base,item => new RegExp(activeType,'i').test(item.type))
            this.itensAtivos = this.getItem(activeType,type)
            //return result
        },
        searchFunc: function() {
            let search = this.search
            let result = _.filter(this.itensAtivos, item => new RegExp(search,'i').test(item.name))
            //let result = this.getItem(search,name,itensAtivos)
            //console.log(result)
            return result
        }
    },
    methods: {
        resetItem: function() {
            let desativar = this.$_.find(this.base, dado => dado.active === true )
            if (desativar) desativar.active = false
            this.activeItem = {}
        },
        setCategoria: function(categoria) {
            //this.resetItem()

            this.activeType = categoria //setar a cor
            this.search = '' // resear campo de busca
            
            this.itensAtivos = this.$_.filter(
                this.base, dado => new RegExp(categoria,'i').test(dado.type)
            )
        },
        setItem: function(hef, back = false) {
            if (!back) this.itemHistory.push(this.ultimoId)
            
            //reset
            this.resetItem()
            
            let item = this.$_.find(
                this.base, dado => new RegExp(hef,'i').test(dado.id)
            )
            
            item.active = true
            this.activeItem = item
            this.ultimoId = item.id
        },
        goBackItens: function() {
            this.setItem(this.itemHistory.pop(),true)
        },
        computeAmoutQntd: function () {
            let referencias =  this.activeItem.ingreds, 
                objetos = []

            referencias.forEach((element, index) => {
                objetos.push( _.find(this.base, arg => arg.id == element.id))
                objetos[index].neaded = element.amount
                //console.log(element.id)
            })
            //console.log(objetos)
            return objetos
        },
        setCreat: function (id) {
            return this.data.base
        }
    },
    mounted: function() {
        this.$nextTick(function () {
            //set itens ativos
            let activeType = this.activeType,
                itensAtivos = this.itensAtivos,
                base = this.base

            this.itensAtivos = _.filter(base, item => item.type == activeType)

            //set creat
            this.base.forEach((element,index) => {
                console.log(element.name, element.ingreds)
                let ingredientes = element.ingreds, 
                    create = {
                        createStatus: true,
                        ingredStatus: []
                    }

                if (ingredientes.length != 0) {
                    ingredientes.forEach(elemento => {

                    //criar metodo para atualiza
                        let objeto = _.find(base, item => item.id == elemento.id),
                            toPush = {
                                name: objeto.name,
                                id: objeto.id,
                                qntd: objeto.qntd,
                                neaded: elemento.amount,
                            }

                        if (toPush.neaded > toPush.qntd) create.createStatus = false
                        create.ingredStatus.push(toPush)
                    //fim do metodo
                    })
                }
                element.create = create
            })

            
        })
    }
}
</script>

<style scoped>
    li {
        cursor: pointer;
    }
    .ativo {
        color: red;
    }
    #card {
        border: 1px solid gray;
        padding: 10px;
    }
    .creable {
        color: green;
    }
    .uncreable {
        color: brown;
    }
</style>
