<template>
    <!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In  -->
    <svg version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
        x="0px" y="0px" width="9px" height="9px" viewBox="0 0 6.6 6.6" style="enable-background:new 0 0 6.6 6.6;"
        xml:space="preserve">
    <defs>
    </defs>
    <g>
        <path class="st0" d="M4.4,2.3c1.3,0.6,1.4,1,1.6,2.1c0.2,0.8,0.3,1.4,0.5,2.2c-2.2,0-4.4,0-6.6,0c0.1-1.1,0.3-1.9,0.6-3
            c0.1-0.5,0.9-1.1,1.6-1.4C1.7,1.5,2.1,0,3.3,0C4.7,0,4.9,1.7,4.4,2.3z"/>
    </g>
    </svg>
</template>

<script>
    export default {
        data() {
            return {

            }
        }
    }
</script>

<style type="text/css">
    .st0{fill:#FFFFFF;}
</style>