<template>
    <svg version="1.1"
        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
        x="0px" y="0px" width="10px" height="10px" viewBox="0 0 8.6 8.8" style="enable-background:new 0 0 8.6 8.8;"
        xml:space="preserve">
    <defs>
    </defs>
    <g>
        <path class="st0" d="M2.6,7c1.1,0,2.2-0.2,3.1-0.9c0.3-0.2,0.6-0.6,0.8-0.9C6.7,5,6.8,4.8,6.9,4.6c0,0,0-0.1,0-0.2
            c0-0.3,0-0.5,0.1-0.8c0-0.1,0-0.3,0-0.4C6.8,1.6,5-0.1,3.4,0C1.8,0.1,0.2,1.6,0,3.2C-0.2,5.2,0.7,6.4,2.6,7z M1.8,5.4
            c0-0.1,0-0.2,0-0.2h3.8c0,0.1,0,0.2,0.1,0.2H1.8z M1.6,2.9c0.6,0.2,1.1,0.7,1.3-0.2c0.1-0.3,0.4-0.6,0.6-0.9C3.7,2.2,4,2.5,4.2,2.8
            c0.1,0.2,0.2,0.3,0.3,0.6C5,3.1,5.3,2.8,5.8,2.5C5.8,2.8,5.9,3,5.9,3.2C6,4.9,6,4.9,4.2,4.9c-0.3,0-0.7,0-1,0
            C1.4,4.9,1.4,4.9,1.6,2.9z"/>
        <path class="st0" d="M7.7,3c0,0.1-0.1,0.2-0.1,0.3c0,0,0,0,0,0c0,1.2-0.2,2.5-1.2,3.3c-0.8,0.8-1.9,1.1-3,1.1
            c-0.3,0-0.6-0.1-0.9-0.2c0,0-0.1,0-0.1,0c1.5,1.6,3.7,1.7,5.3,0.3C9,6.7,9,4.8,7.7,3z"/>
    </g>
    </svg>
</template>

<script>
    export default {
        data() {
            return {

            }
        }
    }
</script>

<style type="text/css">
    .st0{fill:#FFFFFF;}
</style>