<template>
    <div id="app">
        <div class="topBar">
            <button @click="goBack()" id="voltar">voltar</button>
            <router-link to="/">home</router-link>
        </div>
        
        <router-view></router-view>
        <div class="bottomBar"></div>        
    </div>    
</template>

<script>

import {_} from 'vue-underscore'

export default {
    name: 'App',
    data() {
        return {
            
        }
    },
    components: {
        
    },
    methods: {
        goBack () {
        window.history.length > 1
            ? this.$router.go(-1)
            : this.$router.push('/')
        }
    },
    mounted() {
    }

}
</script>

<style>
   #app {
        display: grid;
        grid-template-rows: 50px auto 50px ;
        
        width: 1024px;
        height: 668px;

        margin: auto;
        background: white;
        border: solid 1px gray;
        border-radius: 2px;
        overflow: hidden;
    }
    .topBar { background: red; }
    /* .container-center { background: green; } */
    /* .container-rigth { background: goldenrod; } */
    .bottomBar { background: gray; }
</style>
